<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="nuevo-movimiento">
  <template>
    <style>
      :host {
        display: block;
        /*all: initial;  */
      }
    </style>
    <h3><br>Introduce un movimiento en la cuenta (+xxxx si es un ingreso y -xxxx si es un cargo)</h3><br>
    <!--<h2>Hello [[prop1]]!</h2>  comentarios -->
   <input placeholder="Movimiento" type="number" value="{{entry::input}}"/><br><br>
   <button on-click="altamov" class="btn btn-primary btn-sd">Alta movimiento</button>
   <button on-click="menumov" class="btn btn-primary btn-sd" autofocus>Volver</button>
   <br><br><h4><p style="color: red">[[A]]</p></h4>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

   <iron-ajax
     id="putMovement"
     method="POST"
     url="http://localhost:3000/apitechu/v2/abmov/{{id}}"
     content-type="application/json"
     handle-as="json"
     on-response="manageAJAXResponse2"
     on-error="showError2">

   </template>

  <script>
    /**  data.detail.response.idUsuario
     * @customElement
     * @polymer
     */
    class NuevoMovimiento extends Polymer.Element {
      static get is() { return 'nuevo-movimiento'; }
      static get properties() {
        return {
          msg: {
            type: String,
          }, id: {
            type: Number
          }
        };
      }

    altamov() {
//      console.log("El usuario ha pulsado ALTAMOV");
//      console.log("Voy a enviar la petición");
//      console.log("this.id=" + this.id);
      var hoy = new Date();
//      var fecha = hoy.getFullYear() + '/' + ( hoy.getMonth() + 1) + '/' + hoy.getDate();
//      var hora = hoy.getHours() + ':' + hoy.getMinutes();
      var fecha = hoy.getFullYear() + '/' + ("0" + (hoy.getMonth() + 1)).slice(-2) + '/' + ("0" + hoy.getDate()).slice(-2);
      var hora = ("0" + hoy.getHours()).slice(-2) + ':' + ("0" + hoy.getMinutes()).slice(-2);
//      console.log("fecha=" + fecha);
//      console.log("hora=" + hora);
      var abmovData = {
        "id" : this.id,
        "entry" : this.entry,
        "date" : fecha,
        "time" : hora
      };
      console.log(abmovData);
      this.$.putMovement.body = JSON.stringify(abmovData);
      this.$.putMovement.generateRequest();
      console.log("Petición enviada");
      }

      showError2(error) {
        console.log("La cuenta no está dada de alta");
        console.log(error);
      }

      manageAJAXResponse2(data) {
        //console.log("Llegaron los datos");
        console.log(data.detail.response);
        this.A = data.detail.response.msg;
        //window.location = "/kk";
      }

      menumov() {
        console.log("Vuelta al menú inicial del usuario logado");
        console.log("sessionStorage.getItem(idAccount)=" + sessionStorage.getItem('idAccount'));
        window.location = "/movement/" + sessionStorage.getItem('idAccount');
      }
    }

    window.customElements.define(NuevoMovimiento.is, NuevoMovimiento);
  </script>
</dom-module>
