  <link rel="import" href="../../bower_components/polymer/polymer-element.html">
  <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        /*all: initial;  */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--
    <h2>Haciendo Login</h2> -->
    <!--<h2>Hello [[prop1]]!</h2>  comentarios -->
    <!-- El showData hay que enlazarlo con el response de salida que se pone a
         nivel de data (abajo).
         Esto no funcionará hasta que no se pone el NEXT en server.js
   -->
   <h3>
     <br><input placeholder="Email" type="text" value="{{email::input}}"/>
     <input placeholder="Contraseña" type="password" value="{{password::input}}"/>
     <button on-click="login" class="btn btn-primary btn-sd">Login</button><br>
  </h3>
   <br><h4><p style="color: red">[[A]]</h4>
   <!-- <span hidden$="{{! isLogged}}">Bienvenido/a de nuevo {{first_name}} ' ' {{last_name}}</span>
   -->
   <iron-ajax
     id="doLogin"
     method="POST"
     url="http://localhost:3000/apitechu/v2/login"
     content-type="application/json"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
   </iron-ajax>
   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            value: false,
            type: Boolean
          }
        };
      }

      login()   {
        console.log("El usuario ha pulsado el botón");
        console.log("Voy a enviar la petición");
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        console.log(loginData);
        /* Se envía un string y hay que transformarlo en JSON y mandaría un javascript */
        /* $ es acceder a un entorno local */
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los datos");
        console.log("data=" + data.detail.response);
        //this.isLogged = true;
        // Elimina lo almacenado en sessionStorage
        sessionStorage.clear();
        // Almacena la información en sessionStorage
        sessionStorage.setItem('idUser', data.detail.response.idUsuario);
        // Obtiene la información almacenada desde sessionStorage
        var data = sessionStorage.getItem('idUser');
        console.log("iduserStorage=" + data);
        /* Construye la url a partir de datos obtenidos en el programa */
        if (data) {
          window.location = "user/" + sessionStorage.getItem('idUser');
        }
        //window.location = "user/" + data.detail.response.idUsuario;
        this.A = data.detail.response.msg;
        document.getElementById("email").reset();
        document.getElementById("password").reset();

        //<button onclick="document.getElementById('myInput').value = ''">Clear input field</button>
        //<input type="text" value="Blabla" id="myInput">

      }

      showError(error) {
        console.log("Error en la autentificación. Intentalo de nuevo");
        //console.log("error=" + error);
        this.A = "Error en la autentificación. Intentalo de nuevo";
        document.getElementById("email").reset();
        document.getElementById("password").reset();
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
