<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<dom-module id="visor-movimientos">
 <template>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <style>
     :host {
       display: block;
     }
   </style>
   <br><h3>Cuenta: <b>[[B]]</b>  -->  Saldo: {{saldo}}€</h3>
   <h3>Movimientos:</h3><br>
   <template is="dom-repeat" items="{{movements}}">  <!-- bucle del listado del array items...      <br />-->
     <h5>{{item.amount}}€ ---- {{item.date}} {{item.time}}</h5>
   </template>

   <br><button on-click="abmov" class="btn btn-primary btn-sd">Alta movimiento</button>
   <button on-click="menucuenta" class="btn btn-primary btn-sd" autofocus>Volver</button>

   <iron-ajax auto
      id="getMovements"
      url="http://localhost:3000/apitechu/v2/movement/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
      >
  </template>

 <script>
   /**
    * @demo demo/index.html
    */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          saldo: {
            type: Number
          }, movements: {
            type: Array
          }
        };
      }

      abmov() {
        console.log("El usuario ha pulsado ABMOV");
        console.log("Voy a enviar la petición");
        var abmovData = {
          "id" : this.id
        };
        console.log(abmovData);
        /* Se envía un string y hay que transformarlo en JSON y mandaría un javascript */
        /* $ es acceder a un entorno local */
        /*
        this.$.getMovements.body = JSON.stringify(abmovData);
        this.$.getMovements.generateRequest();
        */
        console.log("Petición enviada");

        // Almacena la información en sessionStorage
        sessionStorage.setItem('idAccount', this.id);
        // Obtiene la información almacenada desde sessionStorage
        var data = sessionStorage.getItem('idAccount');
        console.log("idAccount=" + data);
        window.location = "/abmov/" + this.id;

      }

      showData(data) {
        console.log(data.detail.response);
        this.movements = data.detail.response;
        var saldo = 0;
        //console.log("saldo=" + saldo);
        //console.log("nº movimientos=" + data.detail.response.length);
        for (var i=0;i<data.detail.response.length;i++) {
          saldo = saldo + data.detail.response[i].amount;
        }
        this.saldo = saldo.toFixed(2);
        console.log("saldo=" + saldo);
        this.B = sessionStorage.getItem(this.id);
        console.log("this.id=" + this.id);
        console.log("Cuenta=" + this.B);
      }

      showError(error) {
        console.log("Error en la autentificación. Intentalo de nuevo");
        //console.log("error=" + error);
        //var saldo = 0;
        this.B = sessionStorage.getItem(this.id);
        this.saldo = 0;
        console.log("saldo=" + saldo);
      }

      menucuenta() {
        console.log("Vuelta al menú inicial del usuario logado");
        window.location = "/account/" + sessionStorage.getItem('idUser');
      }

    }
    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
