  <link rel="import" href="../../bower_components/polymer/polymer-element.html">
  <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-api">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--
         api.openweathermap.org/data/2.5/weather?q=London
         url="http://api.openweathermap.org/data/2.5/forecast?id=524901&APPID=c36e3c980a687b3512f28e07d467d9ca"
   -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <h3>
    <!--
      <br>
      El tiempo en [[id]] es:<br>
      [[weather]],
      [[temp]] ºC, min [[tempmin]] ºC y máx [[tempmax]] ºC,
      nubes [[clouds]]%,
      humedad [[humidity]]%,
      presión atmosférica [[pressure]] bar,
      viento: [[winddir]]º y [[windspeed]] Km/h<br>
    -->
    <h4><br><p style="color: red">[[A]]</p></h4>
    <button on-click="volver" class="btn btn-primary btn-sd" autofocus>Volver</button>

    <iron-ajax AUTO
      id="getWeather"
      url="http://api.openweathermap.org/data/2.5/weather?q={{id}}&lang=es&APPID=c36e3c980a687b3512f28e07d467d9ca"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >
  </template>
  <script>
    class VisorAPI extends Polymer.Element {
      static get is() { return 'visor-api'; }
      static get properties() {
        return {
          temp: {
            type: String
          }
        };
      }

      showData(data) {
        console.log("data.detail.response.name=" + data.detail.response.name);
        console.log("this.id=" + this.id);
        if (data.detail.response.name.toLowerCase() == this.id.toLowerCase()) {
          console.log("La ciudad existe");
          console.log(data.detail.response);
          this.weather = data.detail.response.weather[0].description;
          //this.temp = Math.round(data.detail.response.list[1].main.temp - 273)
          this.temp = (data.detail.response.main.temp - 273).toFixed(2);
          this.tempmin = (data.detail.response.main.temp_min - 273).toFixed(2);
          this.tempmax = (data.detail.response.main.temp_max - 273).toFixed(2);
          this.clouds = data.detail.response.clouds.all;
          this.humidity = data.detail.response.main.humidity;
          this.pressure = data.detail.response.main.pressure;
          this.visibility = data.detail.response.visibility;
          if (this.winddir === undefined) {
            this.winddir = 0;
          } else {
              this.winddir = data.detail.response.wind.deg;
            }
            console.log("winddir=" + this.winddir);
          this.windspeed = data.detail.response.wind.speed;
          var A = "La ciudad existe";
          var B = "El tiempo en "+ this.id +" es " + this.weather + ", " + this.temp + " ºC (min " + this.tempmin + " ºC y máx " + this.tempmax + " ºC), nubes " + this.clouds;
          var C = "%, humedad " + this.humidity + "%, presión atmosférica " + this.pressure + " bar, viento: " + this.winddir + "º y " + this.windspeed + " Km/h";
          this.A = B + C;
        } else {
          console.log("La ciudad no existe");
        }
      }

      showError(error) {
        console.log("La ciudad " + this.id + " no existe");
        this.A = "La ciudad " + this.id + " no existe";
        console.log(error);
      }

      volver() {
        console.log("Volver");
        const pagina = '/menuinicial/' + sessionStorage.getItem('idUser');
        window.location.assign(pagina);
      }
    }

    window.customElements.define(VisorAPI.is, VisorAPI);
  </script>
</dom-module>
