<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="visor-cuentas">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <h7>Sus cuentas</h7>
   <h9>IBAN - {{iban}}</h9>
   <h9>Saldo - {{balance}}</h9>

   <iron-ajax auto
     id="getAccounts"
     url="http://localhost:3000/apitechu/v2/account/{{id}}"
     handle-as="json"
     on-response="showData">
 </template>

 <script>
   /**
    * `visor-cuentas`
    * Visor de cuentas
    *
    * @customElement
    * @polymer
    * @demo demo/index.html
    */
   class VisorCuentas extends Polymer.Element {
     static get is() { return 'visor-cuentas'; }
     static get properties() {
       return {
         userid : {
           type: Number
         }, iban: {
           type: String
         }, balance: {
           type: Number
         }
       };
     }

     showData(data) {
       // Only one account, for now.
       console.log(data.detail.response);
       console.log(data.detail.response[0]);
       this.iban = data.detail.response[0].iban;
       this.balance = data.detail.response[0].balance;
     }
   }

   window.customElements.define(VisorCuentas.is, VisorCuentas);
 </script>
</dom-module>
