<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<dom-module id="visor-cuentas">
 <template>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <style>
     :host {
       display: block;
     }
   </style>
   <style>
    p {color: black}
    q {color: blue}
    #p01 {color: brown}
    .info {color:coral}
    .hide {display: none}
   </style>
   <h3><br>Pincha sobre la cuenta que quieras realizar operaciones<br></h3>
   <template is="dom-repeat" items="{{accounts}}">  <!-- bucle del listado del array items... -->
     <h3>
       IBAN: <a href="/movement/{{item.ibanid}}"> {{item.iban}} </a>
     </h3>
   <!--<h2>Hello [[prop1]]!</h2>  comentarios
     <blink>¡Hola mundo!</blink>
     <b>¡Hola mundo!</b>
     <i>¡Hola mundo!</i>
     <strike>¡Hola mundo!</strike>

   -->
   </template>
   <br><button on-click="menuinicial" class="btn btn-primary btn-sd" autofocus>Volver</button>

   <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/account/{{id}}"
      handle-as="json"
      on-response="showData"
      >
  </template>

 <script>
   /**
    * @demo demo/index.html
    */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }

      showData(data) {
        console.log(data.detail.response);
        this.accounts = data.detail.response;
        for (var i=0;i<data.detail.response.length;i++) {
          var j = i + 1;
          sessionStorage.setItem(data.detail.response[i].ibanid, data.detail.response[i].iban);
          //console.log("session=" + sessionStorage.getItem(j));
        }

      }

      menuinicial() {
        console.log("Vuelta al menú inicial del usuario logado");
        window.location = "/menuinicial/" + sessionStorage.getItem('idUser');
      }


    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
