<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<dom-module id="visor-cuentas">
 <template>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <style>
     :host {
       display: block;
     }
   </style>
   <h5>Sus cuentas</h5>
   <template is="dom-repeat" items="{{accounts}}">  <!-- bucle del listado del array items... -->
     <h7>IBAN - {{item.IBAN}},</h7>
     <h7>Saldo - {{item.balance}}€</h7>
   <!--<h2>Hello [[prop1]]!</h2>  comentarios -->
     <br />
   </template>

   <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/account/{{id}}"
      handle-as="json"
      on-response="showData"
      >
  </template>

 <script>
   /**
    * @demo demo/index.html
    */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }

      showData(data) {
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
