<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="emisor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <!--
   <h2>Soy el emisor</h2>
   <button on-click="sendEvent">No pulsar</button>
   <h2 hidden$="{{logged}}">Datos de usuario [[id]]</h2>

   <button on-click="entrar">Inicio</button>

   <button on-click="alta1">Alta nueva</button>
   <button on-click="api">El tiempo</button>
   <button on-click="vercuenta">Ver cuentas</button>
   <button on-click="logout">Salir</button>
   <input placeholder="Ciudad" type="text" value="{{ciudad::input}}" />
-->

 </template>

 <script>
    /* @customElement @polymer  */
   class EmisorEvento extends Polymer.Element {
     static get is() { return 'emisor-evento'; }
     static get properties() {
       return {

       };
     }

     entrar() {
       console.log('Entrar')
       const pagina = '/login';
       window.location.assign(pagina);
     }

     alta1() {
       console.log('alta1')
       const pagina = '/alta';
       window.location.assign(pagina);
     }

     api() {
       console.log("api1, ciudad=" + this.ciudad);
       const pagina = '/api/' + this.ciudad;
       window.location.assign(pagina);
     }

     logout() {
       console.log("logout");
       console.log('this.idusuar=' + this.idusuar);
       const pagina = '/logout/' + this.idusuar;
       //window.location.assign(pagina);
     }

     vercuenta() {
       console.log("Ver cuentas");
       console.log('this.idusuar=' + this.idusuar);
       const pagina = '/account/' + this.idusuar;
       window.location.assign(pagina);
     }


//     sendEvent(e) {
//       console.log("El usuario ha pulsado el botón");
//       console.log(e);
//       this.dispatcthis.idusuarhEvent(
//         new CustomEvent(
//           "myevent",
//           {
//             "detail" : {
//               "course" : "TechU",
//               "year" : 2018
//             }
//           }
//         )
//       );
//     }
   }
   window.customElements.define(EmisorEvento.is, EmisorEvento);
 </script>
</dom-module>
