<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
        /*all: initial;  */
        /*border: solid blue; */
      }
    </style>
    <!--<h2>Hello [[prop1]]!</h2>  comentarios -->
    <!-- El showData hay que enlazarlo con el response de salida que se pone a
         nivel de data (abajo).
         Esto no funcionará hasta que no se pone el NEXT en server.js
   -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <h3><br>Bienvenido/a [[first_name]] [[last_name]] </h3>
    <!--    <h3>y mi email es [[email]]</h3>  -->

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String,
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number
          }
        };
      }

      showData(data) {
        console.log(data.detail.response);
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
        const pagina = '/menuinicial/' + sessionStorage.getItem('idUser');
        //console.log("pagina=" + pagina);
        window.location.assign(pagina);
        //console.log("timeout 15 sg");
        //window.setTimeout(15000);
        //window.setTimeout(window.location.assign(pagina), 15000);
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
