<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
<template>
  <style>
    :host {
      display: block;
      /*all: initial;  */
    }
  </style>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 <h3>
   <br><input placeholder="Nombre" type="text" value="{{name::input}}" required minlength="2"/>
   <input placeholder="Apellidos" type="text" value="{{surname::input}}" required minlength="3"/>
   <!--
   <input placeholder="Domicilio" type="text" value="{{address::input}}" required minlength="10"/>
   <input placeholder="Teléfono" type="number" value="{{phone::input}}" required minlength="9"/>
   <input placeholder="DNI" type="number" value="{{dni::input}}" required length="8"/>
   <input type="email" x-moz-errormessage="Por favor, especifique una dirección de correo válida.">
   -->
   <input placeholder="email" type="email" value="{{email::input}}" required />
   <input placeholder="Contraseña" type="password" value="{{password::input}}" required minlength="4" maxlength="10"/><br>
   <br><button on-click="alta" class="btn btn-primary btn-sd">Alta</button>
   <button on-click="menuinicial" class="btn btn-primary btn-sd" autofocus>Volver</button>
</h3>

 <br><h4><p style="color: red">[[A]]</p></h4>

 <!-- <span hidden$="{{! isLogged}}">Bienvenido/a de nuevo {{first_name}} ' ' {{last_name}}</span> -->

 <iron-ajax
   id="doAlta"
   method="POST"
   url="http://localhost:3000/apitechu/v2/users"
   content-type="application/json"
   handle-as="json"
   on-response="manageAJAXResponse"
   on-error="showError">
 </iron-ajax>
 </template>

<script>
  /**
   * @customElement
   * @polymer
   */
  class AltaUsuario extends Polymer.Element {
    static get is() { return 'alta-usuario'; }
    static get properties() {
      return {
      };
    }

    alta() {
      console.log("Botón Alta");
      console.log("Voy a enviar la petición");
      var altaData = {
        "first_name" : this.name,
        "last_name" : this.surname,
        "email" : this.email,
        "password" : this.password
      };
      console.log(altaData);
      /* Se envía un string y hay que transformarlo en JSON y mandaría un javascript */
      /* $ es acceder a un entorno local */
      this.$.doAlta.body = JSON.stringify(altaData);
      this.$.doAlta.generateRequest();
      console.log("Petición enviada");
    }

    manageAJAXResponse(data) {
      console.log("Llegaron los datos");
      console.log(data.detail.response);
      this.isLogged = false;
      this.A = data.detail.response.msg;
    }

    showError(error) {
      console.log("Hubo un error");
      console.log(error);
    }

    menuinicial() {
      console.log("Vuelta al menú inicial del usuario logado");
      window.location = "/menuinicial/" + sessionStorage.getItem('idUser');
    }
  }

  window.customElements.define(AltaUsuario.is, AltaUsuario);
</script>
</dom-module>
