<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
        /*all: initial;  */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <h3><br>¿Seguro que quieres salir?<br><br></h3>
    <h3>
      <button on-click="logout" class="btn btn-primary btn-sd">Si</button>
      <button on-click="menuinicial" class="btn btn-primary btn-sd" autofocus>No</button>
    </h3>
   <iron-ajax
     id="doLogout"
     method="POST"
     url="http://localhost:3000/apitechu/v2/logout/{{id}}"
     content-type="application/json"
     handle-as="json"
     on-response="manageAJAXResponse1"
     on-error="showError1">

  </template>

  <script>
    /**  data.detail.response.idUsuario
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          msg: {
            type: String,
          }, id: {
            type: Number
          }
        };
      }

      logout()   {
        //console.log("El usuario ha pulsado el botón");
        //console.log("Voy a enviar la petición");
        var id = parseFloat(sessionStorage.getItem('idUser'));
        console.log("id=" + id);
        var logoutData = {
          "id" : id
        };
        console.log(logoutData);
        /* Se envía un string y hay que transformarlo en JSON y mandaría un javascript */
        /* $ es acceder a un entorno local */
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse1(data) {
        console.log("Llegaron los datos");
        console.log(data.detail.response);
        this.mensaje = data.detail.response;
        window.location = "/inicio";
        // Remove all saved data from sessionStorage
        sessionStorage.clear();
      }

      showError1(error) {
        console.log("No estás dado de alta. Intentalo de nuevo");
        console.log(error);
      }

      menuinicial() {
        console.log("Vuelta al menú inicial del usuario logado");
        window.location = "/menuinicial/" + sessionStorage.getItem('idUser');
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
