<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="menu-inicial">
 <template>
   <style>
     :host {
       display: block;
     }
     a {color: #007bff};

   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <h3><br>Selecciona una opción</h3><br>

<!--
   <h1><b font-size: 20px;>Selecciona una opción</b></h1>
        a {color: MediumSlateBlue};    #007bff;
 -->
   <h3>
     <a href="/account/{{id}}">Ver cuentas</a><br>
     <a href="/alta">Alta de nuevo usuario</a><br>
     <a href="/api/{{ciudad}}">El tiempo</a>
     <input placeholder="Ciudad" type="text" value="{{ciudad::input}}"/><br>
     <a href="/logout/{{id}}">Salir</a>
   </h3>

 </template>
 <script>
   /**  processEvent puede ser un nombre mucho más descriptivo.p.e
    * @customElement
    * @polymer
    */
   class MenuInicial extends Polymer.Element {
     static get is() { return 'menu-inicial'; }
     static get properties() {
       return {
       };
     }


     alta1() {
       console.log('alta1')
//       <a href="/src/alta-usuario/alta-usuario.html">Enlace a otra pagina</a>
//       const pagina = '/src/alta-usuario/alta-usuario.html'
       const pagina = '/alta';
       window.location.assign(pagina);
     }

     api1() {
       console.log("api1, ciudad=" + this.ciudad);
       const pagina = '/api/' + this.ciudad;
       window.location.assign(pagina);
     }

     logout() {
       console.log("logout");
       console.log("sessionStorage.getItem(idUser)=" + sessionStorage.getItem('idUser'));
       const pagina = '/logout/' + sessionStorage.getItem('idUser');
       window.location.assign(pagina);
     }

     vercuenta() {
       console.log("Ver cuentas");
       const pagina = '/account/' + sessionStorage.getItem('idUser');
       window.location.assign(pagina);
     }

   }
   window.customElements.define(MenuInicial.is, MenuInicial);
 </script>
</dom-module>
